/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 30px;
  background: black;
}

 h1 {
   font-size: 65px;
   color: #FCDA6B;
 }
 h2, h3, a {
   font-size: 24px;
   color: #ffffff;
 }
 p {
   font-size: 22px;
 }
 a {
   margin: 0 20px;
   text-decoration: none;
 }
 label {
   margin-right: 30px;
   font-size: 22px;
   color: #cdcdcd;
 }
 input[type=submit] {
   font-size: 22px;
   color: #ffffff;
   padding: 5px;
   background-color: #fcda6b;
   border: 5px solid #fcda6b;
   border-radius: 10px;
   margin: 20px;

 }
 div {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   max-width: 50%;
   max-height: 55%;
   background: #526369;
   text-align: center;
 }
 ul {
   list-style: none;
   text-align: center;
 }
/* ul {
  text-align: center;
  list-style: none;
  background-color: #fcda6b;
  border: 5px solid #fcda6b;
  border-radius: 10px;
  width: 100px;
  height: 80px;
}
li {

} */
